{% extends 'base.html.twig' %}

{% block body %}

    <div class="container shadow p-3 text-justify">
        <h1 class="display-4 text-center" >Предисловие</h1>
            <p style="text-indent: 20px">Дорогой читатель, сие воплощение истинного ректального кода является порождением сумрачного
        гения самоуверенного студента, переоценившего свои силы в отношении возможности быстро освоить
        fullstack-разработку на Symfony. Наполеоновские планы в виде комплексной реализации CRUD'а на
                стероидах разбились об отсутствие опыта и времени. В ходе написания ректального кода
                возникало множество проблем, некоторые из которых стоит перечислить: </p>
                <ul>
                    <li>Отсутствие опыта работы с Symfony Forms привело к проблемам в работе динамически изменяемых форм на стороне клиента,
                        из-за чего их пришлось переписать на чистый html и отказаться от штатной защиты данных и валидации форм</li>
                    <li>Отстутствие опыта работы с Twig'ом, JS'ом и AJAX-запросами привело к возгоранию жопы в процессе реализации возможности редактирования книг,
                        в следствие чего был прилеплен костыль, не позволяющий нормально отображать в форме уже имеющиеся данные книги</li>
                    <li>Забывчивость в указании версии Symfony 4.4 при создании репозитория привела к невозможности использования Sonata User Bundle и создания нормальной авторизации </li>
                    <li>По неизвестной причине не работает фильтр книг по количеству авторов, запрос для которого написан на Native SQL.</li>
                    <li>Отсутствует возможность загружать картинку с превью книги</li>
                    <li>Отсутствует фильтрация по свойствам книги</li>
                    <li>Во время работы с админ-панелью не возникает postPersist event, из-за чего в БД появляются импостеры</li>
                    <li>В админ-панели с высокой частотой вылетают разного рода исключения, учесть которые времени не хватило</li>
                    <li>По вышеприведенной причине отсутствует внятная валидация при создании и редактировании книг, что так же увеличиает число невалидных данных в БД</li>
                    <li>Код не содержит в себе каких-либо паттернов проектирования, а качество его, как и читаемость, находятся на низком уровне.
                    Отсутствуют какие-либо тесты. </li>
                </ul>
        <p style="text-indent: 20px"> Несмотря на вышеприведенные косяки и недоработки, разработка этого
            задания/проекта была веселым приключением для мозгов и принесла множество бесценного опыта, который станет опорой для будущих развлечений с Symfony.</p>

    </div>
{% endblock %}