body {
  padding: 0;
  margin: 0;
}

#menu {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin: 35px 0 0;
  box-shadow: 0 0 10px #1d2124;
}

#menu li {
  transition: 0.2s background-color;
  padding: 8px;
  color: white;
  display: inline-block;
  font-family: Sans-Serif;
  background-color: #343a40;
  margin: 0;
  font-size: 25px;
}


#menuContainer {
  box-shadow: 0 0 10px black;
}

.textBlock {
  font-family: verdana, serif;
  background-color: white;
  border-radius: 0;
  box-shadow: 0 0 13px black;
  padding: 20px;
  margin: 40px 20px 20px;
  font-size: 20px;
  text-align: justify;
  transition: 0.7s all;
}

.text.res {
  margin-left: 10%;
  margin-right: 10%;
}


